// 混合：把混合底下的样式集原封不动的搬到调用处
border-1px($color)
  position:relative
  &:after
    position:absolute
    left: 0
    bottom: 0
    content: ""
    display: block
    border-top:1px solid $color
    width:100%


bg-image($url)
  background-image : url($url+"@2x.png")
  @media (min-device-pixel-ratio: 3),(-webkit-min-device-pixel-ratio: 3)
    background-image : url($url+"@3x.png")

border-none()
  &:after
    display:none
